// color
$primary: #ea5f00;
$bg_primary: #111;
// break point
$break_point_tablet: 768px;
$break_point_laptop: 1024px;
$break_point_desktop: 1200px;

// $size-iphone-6: 375px;
// $size-iphone-6-plus: 414px;
// $size-ipad-p: 768px;
// $size-desktop: 1180px;
// $size-desktop-l: 1600px;